---
import type { CardCoachingInfos } from "@/data/cardsCoaching"
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

type Props = {
    card: CardCoachingInfos
}

const { card } = Astro.props
const { imagePath, altText, title, intro, liArr, link } = card
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/coaching/*.{jpeg,jpg,png,gif}')
// if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/coaching/*.{jpeg,jpg,png,gif}"`);
// https://docs.astro.build/fr/recipes/dynamically-importing-images/

---

<div class="flex flex-col w-[300px] shadow-md rounded-xl bg-corda-bg-primary">
    {/* TITRE */}
    <div class="h-20 flex items-center justify-center">
        <h3 class="text-xl text-center md:text-xl">{title}</h3>
    </div>
    {/* IMAGE */}
    <div>
        <Image src={images[imagePath]()} alt={altText} />
    </div>
    {/* TEXTE */}
    <div class="h-[190px] px-2 py-4">
        <p class="pb-1 text-lg">{intro}</p>
        <ul>
            {
                liArr?.map((listeLi) => (
                    <li class="py-1 text-corda-text-fonce">{listeLi}</li>
                ))
            }
        </ul>
    </div>
    {/* CALL TO ACTION */}
    <div class="mb-6 mx-auto">
        <a href={`${link}`} class="block px-4 py-2 bg-corda-action text-corda-text-clair rounded-full">Cliquez pour en savoir plus</a>
    </div>
</div>